/*  Reset default styles */

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
html,
body {
  height: 100%;
  line-height: 1;
  font-size: 14px;
  color: #252b42;
  font-family: Montserrat;
  font-weight: 500;
  background: #fafafa;
}

/* ------------------------------------------------------------------ */

/* Исключаем возможность появления полосы прокрутки
 при возникновении отрицательных отступов */
.wrapper{
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;

}
/* ------------------------------------------------------------------ */

/** Технический класс, который содержит общие стили. Не является БЭМ блоком. выставляем по середине */

._container {
  max-width: 1046px;
  margin: 0px auto;
  padding: 0 15px;
  box-sizing: content-box;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /* ? object-fit */
  object-fit: cover;
}

/* -----------HEADER------------------------------------------------ */


.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
}
.header__container {
  display: flex;
  min-height: 104px;
  align-items: center;
}
.header__logo {
  font-size: 24px;
  font-weight: 700;
  color: inherit;
}
.header__menu {
  margin: 0 0 0 137px;
}
@media screen and (max-width: 992px) {
  .header__menu {
    margin: 0 0 0 80px;
  }
}
@media screen and (max-width: 767px) {
  .header__menu {
    margin: 0 0 0 40px;
  }
}
@media screen and (max-width: 479px) {
  .header__menu {
    margin: 0 0 0 20px;
  }
}

.menu {
  padding: 5px 0;
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
  gap: 21px;
}
.menu__item {
}
.menu__link {
  color: #737373;
  /* ! line-height: 171% (24px (line-height) / 14px (font-size) * 100%) */
  line-height: 171%; 
  font-weight: 600;
}

@media screen and (max-width: 479px) {
  .menu__link {
    font-size: 18px;
  }
  .menu__list {
    gap: 15px;
  }
}



/** ---------------Main------------------ */
.page {
  /* footer is down  */
  flex: 1 1 auto; 
}

.page__main-block {
}
.main-block {
  position:relative;
}
.main-block__container {
}

.main-block__body {
  padding: 184px 0 191px 0;
  position: relative;
  z-index: 2;
  max-width: 400px;
}

.main-block__body > *:not(:last-child) {
  padding: 0 0 35px 0;
}
.main-block__title {
  font-size: 58px;
  line-height: calc(80 / 58 * 100%);
  font-weight: 800;
  letter-spacing: 0.20px;
}
.main-block__text {
  color: #737373;
  font-size: 20px;
  line-height: 150%;
  
}
.main-block__buttons {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.main-block__button {
  
  border-radius: 37px;
  display: flex;
  min-height: 48px;
  justify-content: center;
  align-items: center;
  padding: 5px 36px;
  letter-spacing: 0.20px;
  font-weight: 700;
  line-height: 1.5;
}
.main-block__button_orange {
  color: #fff;
  background: #FF7B47;
}
.main-block__button_border {
  color: #0D5C63;
  border: 1px solid #0D5C63;
}
.main-block__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1300px) {
  .main-block__image img {
    object-position: right;
  }
}

@media screen and (max-width: 992px) {
  .main-block__image {
    opacity: 0.5;
  }
}

@media (max-width: 479px) {
  .main-block__title {
    font-size: 42px;
  }
  .main-block__buttons {
    flex-direction: column;
    flex-grow: 1;
  }
}

/** ---------------Services------------------ */

.page__services {
  position: relative;
  z-index: 2;
  margin: -111px 0 0 0;
}
.services {
}
.services__container {
}

.services__body {
  display: flex;
  gap: 5px;
}
.services__column {
  display: flex;
  
  justify-content: space-between;
  min-width: 100%;
  
}
.services__item {
  width: 328px;
  /* min-height: 242px; */
  padding: 35px 40px;
  background: #fff;
  box-shadow: 0px 13px 19px 0px #00000012;
  
}

@media screen and (max-width: 992px) {
  .services__item {
    width: 33%;
    padding: 25px;
  }
}

@media screen and (max-width: 767px) {
  .services__column {
    flex-wrap: wrap;
    gap: 5px;
    
  }

  .services__item {
    flex: 1 1 33%;
    padding: 25px;
  }
}

@media screen and (max-width: 484px) {

  .services__item {
    flex: 1 1 100vh;
    padding: 25px;
  }
}

.item-service {
  
}

.item-service_selected {
  background-color: #0D5C63;
}

.item-service_selected .item-service__title {
  color: #fff;
}


.item-service_selected .item-service__text {
  color: #fff;
}
.item-service > *:not(:last-child) {
  margin: 0 0 10px 0;
}

.item-service__icon {
}
.item-service__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0.1px;
}


@media screen and (max-width: 992px) {
  .item-service__title {
    font-size: 16px;
  }
}
.item-service__text {
  color: #737373;
  line-height: 142%;
}


/** ---------------Advantages--------------  */

.page__advantages {
}
.advantages {
  padding: 80px 0;
}
.advantages__container {
}

.advantages__header {
  padding: 0 0 50px 0;
}
.header-block {
  text-align: center;
  ;
  letter-spacing: 0.2px;
  
}
.header-block__title {
  line-height: 142%;
  font-size: 40px;
  font-weight: 700;
  
}
.header-block__title:not(:last-child){
  padding: 0 0 10px 0;
}

.header-block__subtitle {
  line-height: 142%;
  color: #737373;
}
.advantages__body {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  

}
.advantages__column {
  

}
.advantages__item {
  display: flex;
  
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  min-width: 230px;
  min-height: 209px;
  padding: 30px 40px;
  background: #fff;
}
.advantages__icon {
}
.advantages__value {
  font-weight: 700;
  font-size: 40px;
  line-height: calc(57 / 40 * 100%);
  letter-spacing: 0.2px;
}
.advantages__text {
  color: #737373;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.1px;
}

/** ---------------Practice---------------  */
.page__practice {
}
.practice {
  padding: 125px 0 80px 0;
}
.practice__container {
  
}

.practice__header {
  margin: 0 0 45px 0;
}
.practice__body {
  margin: 0 -20px;
  display: flex;
  flex-wrap: wrap;
}
.practice__column {
  padding: 0px 20px;
  flex: 0 1 25%;
}
.practice__item {
  
}
.item-practice {
  background-color:#fff;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.item-practice__content {
  padding: 30px;
  flex: 1 1 auto;
}
.item-practice__link {
  color: inherit;
  display: inline-block;
}

.item-practice__link:not(:last-child){
  padding: 0 0 15px 0;
}
.item-practice__title {
  font-weight: 700;
  letter-spacing: 0.1px;
  font-size: 16px;
  line-height: 150%;
}
.item-practice__text {
  color: #737373;
  line-height: 142%;
}
.item-practice__image {
  display: block;
  /* 230px X 138 px | (138 / 230 * 100%) = 60% */
  padding: 0 0 60% 0;
}



/** ---------------Footer------------------ */

.footer {
  
}