/*  Reset default styles */

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
html,
body {
  height: 100%;
  line-height: 1;
  font-size: 14px;
  color: #252b42;
  font-family: Montserrat;
  font-weight: 500;
  background: #fafafa;
}

/* ------------------------------------------------------------------ */

/* Исключаем возможность появления полосы прокрутки
 при возникновении отрицательных отступов */
.wrapper{
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;

}
/* ------------------------------------------------------------------ */

/** Технический класс, который содержит общие стили. Не является БЭМ блоком. выставляем по середине */

._container {
  max-width: 1046px;
  margin: 0px auto;
  padding: 0 15px;
  box-sizing: content-box;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

/* -----------HEADER------------------------------------------------ */


.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
}
.header__container {
  display: flex;
  min-height: 104px;
  align-items: center;
}
.header__logo {
  font-size: 24px;
  font-weight: 700;
  color: inherit;
}
.header__menu {
  margin: 0 0 0 137px;
}
@media screen and (max-width: 992px) {
  .header__menu {
    margin: 0 0 0 80px;
  }
}
@media screen and (max-width: 767px) {
  .header__menu {
    margin: 0 0 0 40px;
  }
}
@media screen and (max-width: 479px) {
  .header__menu {
    margin: 0 0 0 20px;
  }
}

.menu {
  padding: 5px 0;
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
  gap: 21px;
}
.menu__item {
}
.menu__link {
  color: #737373;
  /* ! line-height: 171% (24px (line-height) / 14px (font-size) * 100%) */
  line-height: 171%; 
  font-weight: 600;
}

.menu__link:hover {
  text-decoration: underline;
}

@media screen and (max-width: 479px) {
  .menu__link {
    font-size: 18px;
  }
  .menu__list {
    gap: 15px;
  }
}



/** ---------------Main------------------ */
.page {
  /* footer is down  */
  flex: 1 1 auto; 
}

.page__main-block {
}
.main-block {
  position:relative;
}
.main-block__container {
}

.main-block__body {
  padding: 184px 0 191px 0;
  position: relative;
  z-index: 2;
  max-width: 400px;
}

.main-block__body > *:not(:last-child) {
  padding: 0 0 35px 0;
}
.main-block__title {
  font-size: 58px;
  line-height: calc(80 / 58 * 100%);
  font-weight: 800;
  letter-spacing: 0.20px;
}
.main-block__text {
  color: #737373;
  font-size: 20px;
  line-height: 150%;
  
}
.main-block__buttons {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.main-block__button {
  
  border-radius: 37px;
  display: flex;
  min-height: 48px;
  justify-content: center;
  align-items: center;
  padding: 5px 36px;
  letter-spacing: 0.20px;
  font-weight: 700;
  line-height: 1.5;
  transition: all 0.3s ease 0s;
}
.main-block__button_orange {
  color: #fff;
  background: #FF7B47;
  border: 1px solid #FF7B47;
  
}

.main-block__button_orange:hover {
  color: #FF7B47;
  background: none;
}

.main-block__button_border {
  color: #0D5C63;
  border: 1px solid #0D5C63;
}
.main-block__button_border:hover {
  color: #fff;
  background: #0D5C63;
}

.main-block__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1300px) {
  .main-block__image img {
    object-position: right;
  }
}

@media screen and (max-width: 992px) {
  .main-block__image {
    opacity: 0.5;
  }
}

@media (max-width: 479px) {
  .main-block__title {
    font-size: 42px;
  }
  .main-block__buttons {
    flex-direction: column;
    flex-grow: 1;
  }
}

/** ---------------Services------------------ */

.page__services {
  position: relative;
  z-index: 2;
  margin: -111px 0 0 0;
}
.services {
}
.services__container {
}

.services__body {
  display: flex;
  gap: 5px;
}
.services__column {
  display: flex;
  
  justify-content: space-between;
  min-width: 100%;
  
}
.services__item {
  width: 328px;
  /* min-height: 242px; */
  padding: 35px 40px;
  background: #fff;
  box-shadow: 0px 13px 19px 0px #00000012;
  
}

@media screen and (max-width: 992px) {
  .services__item {
    width: 33%;
    padding: 25px;
  }
}

@media screen and (max-width: 767px) {
  .services__column {
    flex-wrap: wrap;
    gap: 5px;
    
  }

  .services__item {
    flex: 1 1 33%;
    padding: 25px;
  }
}

@media screen and (max-width: 484px) {

  .services__item {
    flex: 1 1 100vh;
    padding: 25px;
  }
}

.item-service {
  
}

.item-service_selected {
  background-color: #0D5C63;
}

.item-service_selected .item-service__title {
  color: #fff;
}


.item-service_selected .item-service__text {
  color: #fff;
}
.item-service > *:not(:last-child) {
  margin: 0 0 10px 0;
}

.item-service__icon {
}
.item-service__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0.1px;
}


@media screen and (max-width: 992px) {
  .item-service__title {
    font-size: 16px;
  }
}
.item-service__text {
  color: #737373;
  line-height: 142%;
}


/** ---------------Advantages--------------  */

.page__advantages {
}
.advantages {
  padding: 80px 0;
}
.advantages__container {
}

.advantages__header {
  padding: 0 0 50px 0;
}
.header-block {
  text-align: center;
  ;
  letter-spacing: 0.2px;
  
}
.header-block__title {
  line-height: 142%;
  font-size: 40px;
  font-weight: 700;
  
}
.header-block__title:not(:last-child){
  padding: 0 0 10px 0;
}

.header-block__subtitle {
  line-height: 142%;
  color: #737373;
}
.advantages__body {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  

}
.advantages__column {
  

}
.advantages__item {
  display: flex;
  
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  min-width: 230px;
  min-height: 209px;
  padding: 30px 40px;
  background: #fff;
}
.advantages__icon {
}
.advantages__value {
  font-weight: 700;
  font-size: 40px;
  line-height: calc(57 / 40 * 100%);
  letter-spacing: 0.2px;
}
.advantages__text {
  color: #737373;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.1px;
}

/** ---------------Practice---------------  */
.page__practice {
}
.practice {
  padding: 125px 0 80px 0;
}
.practice__container {
  
}

.practice__header {
  margin: 0 0 45px 0;
}
.practice__body {
  margin: 0 -20px;
  display: flex;
  flex-wrap: wrap;
}
.practice__column {
  padding: 0px 20px;
  flex: 0 1 25%;
}
.practice__item {
  
}
.item-practice {
  background-color:#fff;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.item-practice__content {
  padding: 30px;
  flex: 1 1 auto;
}
.item-practice__link {
  color: inherit;
  display: inline-block;
}

.item-practice__link:not(:last-child){
  padding: 0 0 15px 0;
}
.item-practice__title {
  font-weight: 700;
  letter-spacing: 0.1px;
  font-size: 16px;
  line-height: 150%;
}
.item-practice__text {
  color: #737373;
  line-height: 142%;
}
.item-practice__image {
  display: block;
  /* 230px X 138 px | (138 / 230 * 100%) = 60% */
  padding: 0 0 60% 0;
}

/** ---------------Who We Are ------------- */

.page__whoweare {
  background: #fff;
}
.whoweare {
}
.whoweare__container {
  padding: 80px 0 130px 0;
}

.whoweare__header {
  margin: 0 0 100px 0;
}
.whoweare__body {
  display: flex;
  align-items: flex-start;
}
.whoweare__video {
  flex: 0 0 57%;
  position: relative;
  padding: 0 0 42.25% 0;

}
.whoweare__video iframe {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
.whoweare__content {
  flex: 1 1 auto;
  padding: 20px 0 0 121px;
}
.whoweare__title {
  font-weight: 800;
  font-size: 40px;
  line-height: 142%;
  letter-spacing: 0.2px;
}
.whoweare__text {
  color: #737373;
  line-height: 142%;
  padding: 10px 0 50px 0;
}
.whoweare__items {
  display: flex;
  flex-direction: column;
  gap: 30px;
  
}
.whoweare__item {
  
}
.item-whoweare {
  display: flex;
  gap: 20px;
}
.item-whoweare__icon {
}
.item-whoweare__body {
  
}
.item-whoweare__title {
  font-weight: 700;
  font-size: 16px;
  line-height: calc(24 / 16 * 100%);
  letter-spacing: 0.1px;
}
.item-whoweare__text {
  line-height: calc(24 / 14 * 100%);
}

/**----------------Clients----------------  */

.page__clients {
  margin: 0 0 10px 0;
}
.clients {

}
.clients__container {
  padding: 50px 0;
}

.clients__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items:center;
  min-width: 140px;
}
.clients__item {
  padding: 8px 5px;
  flex: 0 1 16.6667%;
  text-align: center;
  max-width: 100%;
}

/**----------------Subscribe--------------- */

.page__subscribe {
}
.subscribe {
  position: relative;
  padding: 0 0 20px 0;
}

.subscribe::before {
  content: "";
  position: absolute;
  
  bottom: 0;
  left: 0;
  height: 77px;
  width: 100%;
  background: #252B42;
  ;

}
.subscribe__container {
}

.subscribe__body {
  position: relative;
  z-index: 2;
  margin: 0 30px;
  padding: 30px 50px;
  display: flex;
  justify-content: space-between;
  align-items:center;
  background: #17213c;
  border-radius: 2px;
}
.subscribe__title {
  max-width: 266px;
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0.1px;
  color: #FFFFFF;
}
.subscribe__form {
  flex: 0 1 50%;
  display: flex;
  align-items: center;
}
.subscribe__input {
  flex: 1 1 auto;
  color: #737373;
  border: 1px solid #E6E6E6;
  border-right: 0;
  border-radius: 5px 0 0 5px;
  min-height: 58px;
  padding: 0px 20px;
  background: #f9f9f9;

  
}
.subscribe__input:focus {
  color: #000;
}

.subscribe__button {
  background: #FF7B47;
  border: 1px solid #E6E6E6;
  border-radius: 0px 5px 5px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 58px;
  color: #fff;
  padding: 0px 22px;
  transition: all 0.3s ease 0s;
}

.subscribe__button:hover {
  background: #07f95c;
  font-size: 1.1em;
}


/* *---------------GetInTouch-------------- */

.page__getintouch {
}
.getintouch {
  padding: 80px 0 136px 0;
  background: #f3f3f3;
}
.getintouch__container {
}

.getintouch__header {
  margin-bottom: 80px;
}

.getintouch__items {
  
}
.getintouch__item {
  flex: 0 1 33.333%;
  gap: 15px;
}
.item-getintouch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  padding: 50px 15px;
}
.getintouch__icon {
}
.getintouch__emails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.getintouch__email {
  color: inherit;
  font-weight: 600;
  line-height: 150%;
  font-size: 16px;
}
.getintouch__email:hover {
  text-decoration: underline;
}
.getintouch__lable {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
}
.getintouch__button {
  min-height: 44px;
  color: #FF7B47;
  border: 1px solid #FF7B47;
  border-radius: 5px;
  padding: 0px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 142%;
  font-weight: 600;
  transition: all 0.3s ease 0s;
}

.getintouch__button:hover {
  background-color: #FF7B47;
  color: #fff;
}
.item-getintouch_active {
  background: #252b42;
  color: #fff;
  /* padding: 80px 15px; */
}

.item-getintouch_active .getintouch__button {
  color: #fff;
  border: 1px solid #fff;
}

.item-getintouch_active .getintouch__button:hover {
  background-color: #FFF;
  color: #252b42;
}

@media screen and (min-width: 992px) {
  .getintouch__items {
    display: flex;
    align-items: center;
  }

  .item-getintouch_active {
    background: #252b42;
    color: #fff;
    padding: 80px 15px;
  }

}

/* *---------------About Us---------------- */

.page__contact {
}
.contact {
  background: #FAFAFA;
}
.contact__container {
}
.contact__body {
  display: flex;
  justify-content: space-between;
  margin: 42px 0;
}
.contact__content {
}
.contact__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0.1px;
  padding: 10px 5px 10px 0;

}
.contact__text {
  color: #737373;
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.2px;

}
.contact__button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #FF7B47;
  color: #fff;
  line-height: 142%;
  font-weight: 600;
  border-radius: 5px;
  padding: 0 40px;
  margin: 0px 38px;
  border: 1px solid #FF7B47;
  transition: all 0.3s ease 0s;

}
.contact__button:hover {
  background: #fff;
  color: #FF7B47;
}

@media screen and (max-width: 534px) {
  .contact__body {
    flex-direction: column;
  }
  .contact__button {
    padding: 20px;
    margin: 20px 10px;
  }
}

/** ---------------Footer------------------ */

.footer {
  background: #17213C;
}
.footer__container {
}

.footer__body {
  padding: 50px 0 52px 0;
}
.footer__items {
  display: flex;
}
.footer__item {
}
.item-footer {
  flex: 1 1 20%;
  color: #fff;
}
.item-footer__lable {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.1px;
  padding: 0 0 20px 0;
}
.item-footer__list > *:not(:last-child) {
  
}
.item-footer__list-item {
  
}

.list-item:not(:last-child) {
  font-weight: 600;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.2px;
  padding: 0 0 10px 0;
  
}
.list-item__link {
  color: inherit;
}

.list-item__link:hover {
  text-decoration: underline;
}

.list__icon {
  display: flex;
  flex-direction: column;
  padding: 5px 0 10px 34px;
  min-height: 30px;
}

.list-item_phone {
  background: url(../img/footer/phone.svg) left no-repeat;
  padding-left: 30px;
}

.list-item_map{
  background: url(../img/footer/addr.svg) left no-repeat;
}

.list-item_email {
  background: url(../img/footer/send.svg) left no-repeat;
}