/*  Reset default styles */

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
html,
body {
  height: 100%;
  line-height: 1;
  font-size: 14px;
  color: #252b42;
  font-family: Montserrat;
  font-weight: 500;
}

/* ------------------------------------------------------------------ */

/* Исключаем возможность появления полосы прокрутки
 при возникновении отрицательных отступов */
.wrapper{
  min-height: 100%;
  overflow: hidden;
}
/* ------------------------------------------------------------------ */

/** Технический класс, который содержит общие стили. Не является БЭМ блоком. выставляем по середине */

._container {
  max-width: 1046px;
  margin: 0px auto;
}

/* -----------HEADER------------------------------------------------ */


.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
}
.header__container {
  display: flex;
  min-height: 104px;
  align-items: center;
}
.header__logo {
  font-size: 24px;
  font-weight: 700;
  color: inherit;
}
.header__menu {
  margin: 0 0 0 137px;

}
.menu {
}
.menu__list {
  display: flex;
  gap: 21px;
}
.menu__item {
}
.menu__link {
  color: #737373;
  /* TODO line hight: 171% (24 / 14 * 100%) */
  line-height: 171%; 
  font-weight: 600;
}